<div class="container">
    <h2>Daftar Kehadiran</h2>
    <button class="btn btn-success mb-3" (click)="openCheckinModal()">
      <i class="fa fa-camera"></i> Check-in
    </button>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Presence Type</th>
            <th>Check-in Coordinates</th>
            <th>Check-out Coordinates</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let presence of presences; let i = index ">
            <td>{{ i+1 }}</td>
            <td>{{ presence.Employee?.name }}</td>

            <td>{{ presence.PresenceType?.presenceType }}</td>
            <td>{{ presence.checkInCoordinates }}</td>
            <td>{{ presence.checkOutCoordinates }}</td>
            <td>
              <button class="btn btn-info" (click)="openCheckoutModal(presence)">Checkout</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  