
    <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
        <div class="modal-header">
            <h5 class="modal-title" id="modalTitleId">
                Tambah / Edit Karyawan
            </h5>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close" (click)="activeModal.dismiss('Cross click')"
            ></button>
        </div>
        <div class="modal-body">
            
            <div class="form-group">
                <label for="name">NIK</label>
                <input type="text" class="form-control" id="nik" name="nik" [(ngModel)]="employee.nik"
                [ngClass] = " { 'is-invalid' : errors['nik'] }">
                <div *ngIf="errors['nik']" class="text-danger">{{ errors['nik'] }}</div>
            </div>
            <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employee.name" 
                 [ngClass] = " { 'is-invalid' : errors['name'] }">
                <div *ngIf="errors['name']" class="text-danger">{{ errors['name'] }}</div>

            </div>
            <div class="form-group">
                <label for="position">Unit</label>
                <input type="text" class="form-control" id="unit" name="unit" [(ngModel)]="employee.unit" 
                [ngClass] = " { 'is-invalid' : errors['unit'] }">
                <div *ngIf="errors['unit']" class="text-danger">{{ errors['unit'] }}</div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Batal</button>
        </div>
    </form>
