<div class="container">
    <h2>Tipe Presence</h2>
    <div>
        <button class="btn btn-primary" (click)="addPresenceType()"> Tambah Presence Type</button>
    </div>
    
    <div class="row mt-2">
      <div class="col-md-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Name, NIK or Unit"
          [(ngModel)]="filterText"
          (input)="onFilterChange()"
        />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>Presence type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let presenceType of filteredData | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index;">
            <td>{{ i + 1 + (currentPage - 1) * itemsPerPage  }}</td>
            <td>{{ presenceType.presenceType }}</td>
            <td>
                <a class="btn btn-info" (click)="openModal(presenceType, true)">View</a>
                <a class="btn btn-success mx-1" (click)="openModal(presenceType)">Edit</a>
                <button class="btn btn-danger" (click)="deletePresenceType(presenceType.presenceTypeId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>
  