  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ mode === 'checkin' ? 'Check-in' : (mode === 'checkout' ? 'Check-out' : "Detail") }}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    
    <form *ngIf="mode !== 'view'" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div *ngIf="errors['general']" class="alert alert-danger">{{ errors['general'] }}</div>
      <div class="form-group">
        <label for="employeeId">Employee</label>
        <select class="form-control" id="employeeId" [(ngModel)]="presence.employeeId" name="employeeId" required>
          <option value=""></option>
          <option *ngFor="let employee of employees" [value]="employee.employeeId"> {{employee.name}} </option>
          <!-- Options employees will be loaded dynamically -->
        </select>
        <div *ngIf="errors['employeeId']" class="text-danger">{{ errors['employeeId'] }}</div>
      </div>
      <div class="form-group">
        <label for="presenceTypeId">Presence Type</label>
        <select class="form-control" id="presenceTypeId" [(ngModel)]="presence.presenceTypeId" name="presenceTypeId" required>
          <option value=""></option>
          <option *ngFor="let presenceType of presenceTypes" [value]="presenceType.presenceTypeId"> {{ presenceType.presenceType }} </option>
        </select>
        <div *ngIf="errors['presenceTypeId']" class="text-danger">{{ errors['presenceTypeId'] }}</div>
      </div>
      <div class="form-group">
        <label for="coordinates">{{ mode === 'checkin' ? 'Check-in Coordinates' : 'Check-out Coordinates' }}</label>
        <google-map height="300px" width="100%" [center]="{lat: latitude, lng: longitude}" [zoom]="15" (mapClick)="onMapClick($event)">
          <map-marker [position]="{lat: latitude, lng: longitude}"></map-marker>
        </google-map>
        <input type="hidden" class="form-control" id="coordinates" [(ngModel)]="coordinates" name="coordinates" required>
        <div *ngIf="mode === 'checkin' ? errors['checkInCoordinates'] : errors['checkOutCoordinates']" class="text-danger">{{ mode === 'checkin' ? errors['checkInCoordinates'] : errors['checkOutCoordinates'] }}</div>
      </div>
      <div class="form-group">
        <label>{{ mode === 'checkin' ? 'Take Check-in Photo' : 'Take Check-out Photo' }}</label>
        <div style="width: 100%;" *ngIf="!webcamImage">
          <webcam
          [width]="470" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
        </div>
        <div *ngIf="webcamImage">
          <img width="470" [src]="webcamImage.imageAsDataUrl"/>
        </div>
        
        <button type="button" class="btn btn-info mt-2" (click)="triggerSnapshot()">Take Photo</button>
        <button *ngIf="webcamImage" type="button" class="btn btn-danger mt-2 ms-1" (click)="resetPhoto()">Reset Photo</button>
          
      </div>
    </form>
    
    <div *ngIf="mode === 'view'">
      <div class="row">
        <div class="container">
          <div class="col-sm">
            <h4>Name: {{ presence.Employee?.name }}</h4>
            <h4>Presence Type: {{ presence.PresenceType?.presenceType }}</h4>
            <h4> Check In Location </h4>
                
            <div *ngIf="baseUriApi">
              <img width="470" height="300" [src]="baseUriApi + presence.checkInImages"/>
            </div>
            
            <google-map height="300px" width="100%" [center]="{lat: checkInCoordinate.latitude, lng: checkInCoordinate.longitude}" [zoom]="15">
              <map-marker [position]="{lat: checkInCoordinate.latitude, lng: checkInCoordinate.longitude}"></map-marker>
            </google-map>

            <h4 class="mt-2">Check Out Picture and Location</h4>
            
            <div *ngIf="baseUriApi">
              <img width="470" height="300" [src]="baseUriApi + presence.checkOutImages"/>
            </div>
            
            <google-map height="300px" width="100%" [center]="{lat: checkOutCoordinate.latitude, lng: checkOutCoordinate.longitude}" [zoom]="15">
              <map-marker [position]="{lat: checkOutCoordinate.latitude, lng: checkOutCoordinate.longitude}"></map-marker>
            </google-map>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="activeModal.dismiss('Cross click')"
    >
      Batal
    </button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ mode === 'checkin' ? 'Checkin' : 'Checkout' }}</button>
  </div>